html {
  font-family: YuGothic, "游ゴシック", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt";
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}

p {
  line-height: 1.375;
}