:root {
  --color-primary-light: #A6C8E7;
  --color-primary-main:  #5496D3;
  --color-primary-dark:  #3B7EBB;

  --color-secondary-light: #FFFFFF;
  --color-secondary-main:  #F5F5F5;
  --color-secondary-dark:  #D9D9D9;

  --color-accent-a-light: #ADA8E7;
  --color-accent-a-main:  #8780DD;
  --color-accent-a-dark:  #694C80;

  --color-accent-b-light: #F9B38C;
  --color-accent-b-main:  #EE905B;
  --color-accent-b-dark:  #B8673A;

  --color-accent-c-light: #F5F2A3;
  --color-accent-c-main:  #D9D45C;
  --color-accent-c-dark:  #676418;

  --color-accent-d-light: #B0D8C0;
  --color-accent-d-main:  #7DB894;
  --color-accent-d-dark:  #3F8159;

  --color-text-negative-light: #F5C9C9;
  --color-text-negative-main:  #E28E8E;
  --color-text-negative-dark:  #D46A6A;

  --color-text-positive-light: #B6B6B6;
  --color-text-positive-main:  #464646;
  --color-text-positive-dark:  #212121;

  --color-text-link-light: #A6C8E7;
  --color-text-link-main:  #5496D3;
  --color-text-link-dark:  #3B7EBB;
}